@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Montserrat, sans-serif;
    background-color: #040012;
    color: white;
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}

.ju367v14 {
    background-color: #040012;
    color: gray;
}
#rk_connect_title {
    color: white;
}
[data-rk] .ju367vh0 {
    color: #fff !important;
}

.custom-button-color {
    background-color: rgb(94, 0, 178);
    transition: all;
    transition-duration: 300ms;
}

.custom-button-color:hover {
    background-color: rgba(94, 0, 178, 0.65);
}
